<body>
    <div class="app">
        <a href="https://apps.apple.com/ca/app/vip-fitness-lifestyle/id1490908953#?platform=iphone" target=”_blank”><img src="assets/footer/appPicture.webp" alt=""></a>
        
        <div class="download-text">
            <p>DOWNLOAD THE VIP</p>
            <p>FITNESS & LIFESTYLE APP</p>
            <div class="stores">
                <a href="https://apps.apple.com/ca/app/vip-fitness-lifestyle/id1490908953#?platform=iphone" target="_blank">
                    <img src="assets/footer/appStore.webp" alt="">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.fitnessmobileapps.vipfitnessandlifestyle&pli=1" target="_blank">
                    <img src="assets/footer/googlePlay.webp" alt="">
                </a>
                
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="contactLocation">
            <div class="contact">
                <div class="navigate">
                    <h4>NAVIGATE</h4>
                    <ul>
                        <li>
                            <a href="">Personal Trainer Vancouver</a>
                        </li>
                        <li>
                            <a href="">Group Classes Vancouver</a>
                        </li>
                        <li>
                            <a href="">Kinesiology Vancouver</a>
                        </li>
                        <li>
                            <a href=""> Fascial Stretch Therapy Vancouver </a>
                        </li>
                        <li>
                            <a href=""> Photography Vancouver</a>
                        </li>
                        <li>
                            <a href="">Nutritionist Vancouver</a>
                        </li>
                        <li>
                            <a href="">Massage Therapy Vancouver</a>
                        </li>
                        <li>
                            <a href="">Corporate Fitness</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="hours">
                    <h4>HOURS</h4>
                    <ul>
                        <li>Monday - Friday</li>
                        <li>6:00 am - 8:00 pm</li>
                        <li>Saturday</li>
                        <li>8:00 am - 2:00 pm</li>
                        <li>Sunday</li>
                        <li>9:00 am - 1:00 pm</li>
                    </ul>
                </div>
                <div class="contact-us">
                    <h4>CONTACT US</h4>
                    <div class="adress">
                        <p>
                            1541 W BROADWAY
                        </p>
                        <p>VANCOUVER, BC, V6J 1W7</p>
                        
                    </div>
                    <div class="email">
                        <p>info@VIPFIT.ca</p>
                        <p>Tel: 778.866.6757</p>
                        
                    </div>
                    <div class="media">
                        <a href="https://www.instagram.com/vipfitnessandlifestyle/" target="_blank">
                            <i class="fa-brands fa-instagram icon"></i>
                        </a>
                        <a href="https://www.tiktok.com/@vipfitnessandlifestyle?_t=8ddkIkfZU9e&_r=1" target="_blank">
                            <i class="fa-brands fa-tiktok icon"></i>
                        </a>
                        <a href="https://www.facebook.com/VIPFitnessAndLifestyle/" target="_blank">
                            <i class="fa-brands fa-facebook icon"></i>
                        </a>
                     
                      
                    </div>
                </div>
               
            </div>
            <div class="location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162.72872428899797!2d-123.13994881260896!3d49.26389775923248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673dda9c4a1f1%3A0xd7ba1328705ad88d!2sVIP%20Fitness%20%26%20Lifestyle!5e0!3m2!1sen!2srs!4v1716981945999!5m2!1sen!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2023 VIP Fitness & Lifestyle Inc. - All Rights Reserved</p>

        </div>
    </div>
</body>