<body>
    <div class="card">
        <img src="assets/partnership/rental.webp" alt="">
        <div class="text">
            <h4>Space Rental</h4>
            <p>Run your business at VIP or book us for your next shoot!</p>
            <div class="button-div">
                <button>Learn more</button>

            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/partnership/corporate.webp" alt="">
        <div class="text">
            <h4>Corporate Wellness</h4>
            <p>Set up a corporate discount or book a private team group class</p>
            <div class="button-div">
                <button>Learn more</button>

            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/partnership/partner.webp" alt="">
        <div class="text">
            <h4>Partner With Us</h4>
            <p>Become a VIP Fitness & Lifestyle brand ambassador</p>
            <div class="button-div">
                <button>Learn more</button>

            </div>
        </div>
    </div>
</body>