<body class="main">
  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li>
          <a [routerLink]="['about-us']"><span class="item">about us</span></a>
        </li>
        <li>
          <a [routerLink]="['transformation']"
            ><span class="item">transformations</span></a
          >
        </li>
        <li>
          <a [routerLink]="['presonal-training']"
            ><span class="item">personal training</span></a
          >
        </li>
        <li>
          <a [routerLink]="['classes']"><span class="item">classes</span></a>
        </li>
        <li>
          <a [routerLink]="['gym']"><span class="item">gym</span></a>
        </li>
        <li>
          <a [routerLink]="['other-services']"
            ><span class="item">other services</span></a
          >
        </li>
        <li>
          <a [routerLink]="['space-rentals']"
            ><span class="item">space rentals</span></a
          >
        </li>
        <li>
          <a [routerLink]="['book-online']"
            ><span class="item">book online</span></a
          >
        </li>
      </ul>
    </div>
    <div class="section">
      <div class="top_navbar">
        <div class="logo">
          <img [routerLink]="['/home']" src="/assets/FontLogo.webp" alt="" />
        </div>
        <div class="btn-hamburger">
          <div class="startToday">
            <button>Start today</button>
          </div>
          <div class="hamburger" (click)="sideBar()">
            <a><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
