<body class="main">
  <!-- <script>
    console.log("work");
    var hamburger = document.querySelector(".hamburger");

    hamburger.addEventListener("click", function () {
      document.querySelector("body").classList.toggle("active");
    });
  </script> -->
  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li>
          <a href="#"><span class="item">about us</span></a>
        </li>
        <li>
          <a href="#"><span class="item">transformations</span></a>
        </li>
        <li>
          <a href="#"><span class="item">personal training</span></a>
        </li>
        <li>
          <a href="#"><span class="item">classes</span></a>
        </li>
        <li>
          <a href="#"><span class="item">gym</span></a>
        </li>
        <li>
          <a href="#"><span class="item">other services</span></a>
        </li>
        <li>
          <a href="#"><span class="item">space rentals</span></a>
        </li>
        <li>
          <a href="#"><span class="item">book online</span></a>
        </li>
      </ul>
    </div>
    <div class="section">
      <div class="top_navbar">
        <div class="hamburger" (click)="sideBar()">
          <a href="#"><i class="fas fa-bars"></i></a>
        </div>
      </div>
    </div>
  </div>
</body>
