<body class="main">
  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li>
          <a href="#"><span class="item">about us</span></a>
        </li>
        <li>
          <a href="#"><span class="item">transformations</span></a>
        </li>
        <li>
          <a href="#"><span class="item">personal training</span></a>
        </li>
        <li>
          <a href="#"><span class="item">classes</span></a>
        </li>
        <li>
          <a href="#"><span class="item">gym</span></a>
        </li>
        <li>
          <a href="#"><span class="item">other services</span></a>
        </li>
        <li>
          <a href="#"><span class="item">space rentals</span></a>
        </li>
        <li>
          <a href="#"><span class="item">book online</span></a>
        </li>
      </ul>
    </div>
    <div class="section">
      <div class="top_navbar">
        <div class="logo">
          <img [routerLink]="['/home']" src="/assets/FontLogo.webp" alt="" />
        </div>
        <div class="btn-hamburger">
          <div class="startToday">
            <button>Start today</button>
          </div>
          <div class="hamburger" (click)="sideBar()">
            <a><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
