<body>
  <img src="/assets/personal-trainer.jpg" class="header-img" alt="" />
  <div class="training-text">
    <div class="content">
      <div class="header-text">
        <h2>Personal Training</h2>
      </div>
      <div class="first-section">
        <h3>Personal training at vip</h3>
        <div class="text">
          <p>
            We are known as the TRANSFORMATION SPECIALISTS for a reason! Our
            unique program and memberships allow you to fully customize your
            experience to ensure you get to take advantage of the services that
            you need!
          </p>
          <p>
            Customized to every aspect of your personal life. This elite
            personal training service provides advanced fitness, nutrition and
            wellness coaching in flexible all-inclusive packages. We keep you
            accountable to your goals and help you attain unbelievable results!
          </p>
        </div>
      </div>
      <div class="specialization">
        <p>Our team of Elite Personal Trainers specialize in</p>
        <ul>
          <li>Transformations •</li>
          <li>Weight-Loss/Fat-loss •</li>
          <li>Muscle Building/Body Building •</li>
          <li>Sports & Athletic Conditioning •</li>
          <li>Booty Building •</li>
          <li>Mobility & Flexibility Enhancement •</li>
          <li>Postural Correction •</li>
          <li>Cardiovascular Health •</li>
          <li>Nutrition •</li>
          <li>Lifestyle Coaching •</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="parallax-body">
    <div class="parallax"></div>
    <div class="text">
      <ul>
        <li>
          <p>Elite Personal Training</p>
        </li>
        <li>
          <p>
            Access to VIP Virtual online training app <br />
            <span>(Lifestyle & Partner Memberships)</span>
          </p>
        </li>
        <li>
          <p>
            Customized Fitness Plan <br />
            <span>(including Resistance, Cardio & Mobility)</span>
          </p>
        </li>
        <li>
          <p>
            Customized Lifestyle Plan <br />
            <span>(including Nutrition, Self Care & Lifestyle Habits)</span>
          </p>
        </li>
        <li>
          <p>Body Composition, Fitness & Mobility Testing</p>
        </li>
        <li>
          <p>Access to Nutrition, Lifestyle & Recovery Services</p>
        </li>
      </ul>
    </div>
  </div>
  <app-form></app-form>
  <div class="text-manual">
    <div class="txt">
      <h3>WORKING WITH A PERSONAL TRAINER</h3>
      <p>
        Working with a personal trainer offers a multitude of benefits that go
        beyond simply getting in a few workouts each week. Whether you're a
        fitness novice or a seasoned athlete, partnering with a personal trainer
        can take your fitness journey to new heights.
      </p>
      <p>
        A personal trainer is not just a fitness professional; they are your
        guide, motivator, and supporter on your journey to a healthier
        lifestyle. With their expertise and personalized approach, they will
        keep you motivated and accountable to your goals. Personal trainers also
        excel at keeping your workouts fresh, engaging, and challenging. They
        introduce new exercises, training methods, and equipment to prevent
        boredom and plateaus. As you progress, they continually adjust the
        intensity and complexity of your workouts, pushing you to new levels of
        performance and preventing stagnation.
      </p>
      <p>
        Your personal trainer is equipped with in-depth knowledge of exercise
        science, proper form, and effective training techniques. They create a
        customized training plan tailored to your specific goals, fitness level,
        and individual needs. By considering factors like your strengths,
        weaknesses, and any unique considerations such as past injuries or
        medical conditions, they ensure that every aspect of your fitness
        regimen is designed to help you succeed.
      </p>
      <p>
        Staying motivated and maintaining a consistent exercise routine can be
        challenging. This is where your personal trainer plays a crucial role.
        They serve as your coach, mentor, and cheerleader, providing the
        accountability you need to stay on track and pushing you beyond your
        limits. With their unwavering support and encouragement, you'll be less
        likely to give up on your fitness goals.
      </p>
      <p>
        Performing exercises with proper form is essential for maximizing
        results and preventing injuries. Your personal trainer closely monitors
        your technique, ensuring that you perform exercises correctly and
        efficiently. By mastering the proper form, you'll target the right
        muscles and achieve better overall results, while minimizing the risk of
        setbacks.
      </p>
      <p>
        Personal trainers are skilled at setting realistic and achievable goals.
        They work closely with you to define clear objectives, whether it's
        weight loss, muscle gain, strength improvement, or athletic performance
        enhancement. Moreover, they track your progress, regularly assessing
        your advancements and making necessary adjustments to your training
        plan. This ensures that you stay on course and experience continuous
        improvement.
      </p>
      <p>
        Beyond the physical aspect, personal trainers are a wealth of knowledge
        when it comes to nutrition, recovery, and lifestyle choices. They
        provide valuable insights and empower you with the tools and
        understanding necessary to make informed decisions about your health and
        well-being. By educating and equipping you with the right information,
        they help you cultivate sustainable habits and lead a healthier, more
        fulfilling life. ​
      </p>
      <p>
        Partnering with a personal trainer is an investment in yourself and your
        long-term well-being. They offer expert guidance, personalization,
        accountability, motivation, proper form and technique, goal setting and
        progress tracking, variety and progression, as well as education and
        empowerment. Embrace the transformative power of personal training and
        embark on a journey to a healthier, fitter, and happier you.
      </p>
    </div>
  </div>
</body>
