<ngb-carousel
  [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators"
>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="carouselImage"
        src="/assets/carousel1.webp"
        alt="Random slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Elite Personal Training and Group Fitness</h3>
      <button>Learn More</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="carouselImage"
        src="/assets/carousel2.webp"
        alt="Random slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Positive & Inclusive Community</h3>
      <button>Learn More</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="carouselImage"
        src="/assets/carousel3.webp"
        alt="Random slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Boutique Fitness & Wellness</h3>
      <button>Learn More</button>
    </div>
  </ng-template>
</ngb-carousel>

<hr />
