<div class="transformation">
  <img src="/assets/Kendall Front.webp" alt="" />

  <div class="transformation-text">
    <h3>TRANSFORMATION SPECIALISTS</h3>
    <p>
      We are known as transformation specialists for a reason! VIP redefines
      fitness through our comprehensive Personal Training program aimed at
      enhancing your well-being and instilling life-changing habits into your
      long-term routine.
    </p>
    <p>
      Our approach surpasses the ordinary, encompassing personalized goal
      setting, fully customized programming, and regular body composition
      check-ins to ensure you consistently progress toward your goals. What sets
      us apart is not just the workouts, but the seamless integration of expert
      nutrition and lifestyle coaching into your journey.
    </p>
    <p>
      Embrace a holistic approach along with expert trainers and coaches that
      will support you reaching your fitness goals for once and for all. Begin
      your transformative journey today and experience firsthand the unique
      difference that sets us apart.
    </p>
  </div>

  <img src="assets/Before & Afters-2.webp" alt="" />
</div>
