<body>
    <div class="content">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1519311965067-36d3e5f33d39?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <h4>Personal Training</h4>
            <p>Vancouver's most elite team of personal trainers and transformation specialists offer a holistic approach, specializing in transformations, weight loss, muscle building, postural and flexibility enhancement and more. Memberships include a fully customized program and body composition testing. Access personal training along with multiple other services with our Lifestyle Memberships!</p>
            <button routerLink="." fragment="forma">Start Today</button>
        </div>
        <div class="card">
            <img src="https://plus.unsplash.com/premium_photo-1664109999752-555bf46d86e1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <h4>Group Fitness Classes</h4>
            <p>Join Vancouver's best Group Fitness Classes! From Strength Circuits and Boxing to Yoga and Barre, our classes are a fun and cost effective way to get your workouts in! Our high intensity classes were developed to challenge your body and our restorative classes, to take care of your mind! Limited to 10 clients per class!</p>
            <button routerLink="." fragment="forma">Start Today</button>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1570829460005-c840387bb1ca?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <h4>Private Gym Membership</h4>
            <p>Enjoy a boutique private gym experience with our open gym memberships.  We maintain a limited capacity and pre-booking to ensure our space never gets too busy! Skip the crowds and access the equipment you need! Functional workouts in a supportive and non-intimidating community!</p>
            <button routerLink="." fragment="forma" >Start Today</button>
        </div>
    </div>
</body>